.Gallery {
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 80px;

    h3 {
        color:#febd0e; 
        font-size:30px; 
        margin-bottom:50px
    }

    h3 span {
        display:inline-block; 
        font-weight:700;
    }

    ul {
        width: 100%;
        float: left;
        background-color: white;
    
    }
}
