.aboutWrap{
    margin-top: 40px;

    h1{
        size: 20px;
    }
    .aboutImage{
        margin-top: 20px;
        height: 400px;
        background-image: url("../../../assets/images/cnc-about-bg.jpg");
        background-size: cover;
    }
    
    .aboutContent{
        padding: 20px;
    }
}

